@import "tailwindcss";
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Suisse Int'l";
  src: url("/fonts/suisse-intl-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url("/fonts/suisse-intl-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url("/fonts/suisse-intl-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url("/fonts/suisseintl-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
