---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
const { title } = Astro.props;
const backgroundImage = "/logo/alice_baggrund.png";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <script defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>
  </head>
  <body>

    <Header /> <!-- Menu/Navigation fixed -->

    <!-- Spacer SKAL ligge udenfor header -->
    <div class="menu-spacer"></div>

    <main class="site-background">
      <slot />
    </main>

    <Footer />
        
  </body>
</html>

<style>
  .site-background {
    background-image: url(/logo/alice_baggrund.png);
    background-size: cover;      /* fylder hele siden */
    background-position: center; /* centrerer billedet */
    background-repeat: no-repeat;
    min-height: 100vh;           /* sikrer billedet fylder hele */
  }

  .menu-spacer {
  height: 70px;
}

@media (min-width: 768px) {
  .menu-spacer {
    height: 110px;
  }
} 
</style>